body{
  font-style: normal;
  font-family: 'Times New Roman', Times, serif;
  font-size: medium;
}
td {
  text-align: center;
  border:1px solid gray;
}
input[type=button] {
  width:100%;
}